<%- include("header") -%>

<h2>This is the about page</h2>

<p>Make a custom list and make it easy to manage to manage the listed tasks for yourself. </p>
<p>To make a new custom list just enter the list name in the path parameters.</p>

<%- include("footer") -%>
